.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --focus-color: #ffc2e6;
  --focus-shadow-color: #ff0070;
  --main-font: "IBM Plex mono";
  --border-color: #353430;
  --text-in-decor: #353430;
  --text-in-card-title: var(--text-in-decor);
}

.page.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --focus-color: #ffc2e6;
    --focus-shadow-color: #ff0070;
    --main-font: "IBM Plex mono";
    --border-color: #353430;
    --text-in-decor: #353430;
    --text-in-card-title: var(--text-in-decor);
  }
  .rec {
    display: none;
  }
}
