:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --focus-color: #db00ff;
  --focus-shadow-color: #ff0070;
  --main-font: "IBM Plex mono";
  --border-color: #ff0070;
  --text-in-decor: #000028;
  --text-in-card-title: var(--accent-color);
}
